.section-2 {
    position: relative;
    padding: 98px 16px 131px 16px;
    height: 100vh;

    background-image: url("../../assets/images/sc-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .back {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #0250C5 0%, #D43F8D 100%);
        opacity: 0.8;
    }

    main {
        position: relative;
        z-index: 99;

        b {
            text-align: right;
            display: block;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            
            color: #FDC802;
            margin-bottom: 24px;
        }

        p {
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            
            color: #FFFFFF;

            margin-bottom: 88px;
        }
    }
}