@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "./sections/section-1";
@import "./sections/section-2";
@import "./sections/section-3";
@import "./sections/section-4";
@import "./sections/section-5";
@import "./sections/footer";
@import "./sections/cinema";
@import "./sections/navbar";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

    a {
        text-decoration: none;
    }
}

html {
    scroll-behavior: smooth;
}

.btn {
    cursor: pointer;
    padding: 19px 36px 19px 35px;
    background: #FDC802;
    border-radius: 50px;
    border: none;

    font-weight: 600;
    font-size: 24px;
    transition: 0.4s;
    line-height: 28px;
    margin:  0 45% 0;

    color: #FFFFFF;

    &:hover , &:active {
        filter: drop-shadow(0px 0px 20px #FFFFFF);
    }

    @media (max-width: 1200px) {
        font-size: 18px !important;
        line-height: 20px !important;
        padding: 20px 35px;
        margin: 250px auto 0 auto;

    }

    @media (max-width: 768px) {
        font-size: 14px !important;
        line-height: 16px !important;
        padding: 19px 35px;
        margin: 64px auto 0 auto;
    }

}

.title {
    display: block;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #FDC802;
    margin-bottom: 24px;

    text-align: center;

    @media (max-width: 992px) {
        text-align: left;
    }
}